.main {
  padding-left: 120px;
  padding-right: 120px;
  position: relative;
  overflow: hidden;
  background-color: #141518;
}

.carousel-item-most-visited-container {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.carousel-item-most-visited {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item-most-visited {
  min-width: 220px;
  height: 295px;
  margin-right: 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 18px;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.carousel-next {
  right: 0px;
}
