<div class="div-main">
  <div class="div-button-css">
    <button class="button-css">
      <img
        style="margin-right: 10px"
        src="assets/icon-scissors-categories.svg"
        alt="scissorsCategories"
      />
      {{ 'categories.scissors' | translate }}
    </button>
  </div>
  <div class="div-button-css">
    <button class="button-css">
      <img
        style="margin-right: 10px"
        src="assets/icon-moustache-categories.svg"
        alt="moustacheCategories"
      />
      {{ 'categories.moustache' | translate }}
    </button>
  </div>
  <div class="div-button-css">
    <button class="button-css">
      <img
        style="margin-right: 10px"
        src="assets/icon-razor-categories.svg"
        alt="razorCategories"
      />
      {{ 'categories.razor' | translate }}
    </button>
  </div>
  <div class="div-button-css">
    <button class="button-css">
      <img
        style="margin-right: 10px"
        src="assets/icon-eyebrow-categories.svg"
        alt="eyebrowCategories"
      />
      {{ 'categories.eyebrow' | translate }}
    </button>
  </div>
  <div class="div-button-css">
    <button class="button-css">
      <img
        style="margin-right: 10px"
        src="assets/icon-massage-categories.svg"
        alt="massageCategories"
      />
      {{ 'categories.massage' | translate }}
    </button>
  </div>
  <div class="div-button-css">
    <button class="button-css">
      <img
        style="margin-right: 10px"
        src="assets/icon-hydration-categories.svg"
        alt="hydrationCategories"
      />
      {{ 'categories.hydration' | translate }}
    </button>
  </div>
</div>
