<div class="main">
  <div class="div-info-barber">
    <div style="display: flex; flex-direction: column">
      <span class="text-user-or-login">
        {{ 'home.hello' | translate }},
        <span class="login-link">{{ 'home.log-in' | translate }}</span>
      </span>
      <span class="text-info-date">{{ currentDate }}</span>
    </div>

    <div style="display: flex; margin-top: 34.5px">
      <input class="input-css" />
      <button class="button-search">
        <img
          src="assets/icon-search-home-recommended.svg"
          alt="searchRecommended"
        />
      </button>
    </div>
  </div>

  <div class="div-info-recommended">
    <span style="color: white">{{ 'home.recommended' | translate }}</span>

    <!-- Carrossel -->
    <div class="carousel-container">
      <div class="carousel">
        <app-item-recommended
          *ngFor="let item of recommendedItems"
          [item]="item"
        ></app-item-recommended>
      </div>
      <button class="carousel-prev" (click)="prev()">‹</button>
      <button class="carousel-next" (click)="next()">›</button>
    </div>
  </div>
</div>
