<div class="header-main">
  <img class="header-logo" src="assets/header-logo.svg" alt="headerLogoImg" />
  <div class="header-info">
    <img src="assets/img-calender-header.svg" alt="calendarImg" />
    <span class="text-scheduling">{{
      'header.text-scheduling' | translate
    }}</span>
    <button class="button-profile">
      <img
        style="padding-left: 10px; padding-right: 5px"
        src="assets/img-user-header.svg"
        alt="userImg"
      />
      {{ 'header.text-profile' | translate }}
    </button>
  </div>
</div>
